In [1]:
import requests

In [2]:
response=requests.get('https://gorest.co.in/public-api/users?_format=json&access-token=H4lYmIGLXZkDlpy_w0ZVS5rgcpDXbN7fhRRy')

In [3]:
data=response.json()

In [4]:
data

{'code': 200,
 'meta': {'pagination': {'total': 2502, 'pages': 126, 'page': 1, 'limit': 20}},
 'data': [{'id': 3415,
   'name': 'API Monitoring:pecykr',
   'email': 'apimonitoringpecykr@synthetic.com',
   'gender': 'male',
   'status': 'active'},
  {'id': 30,
   'name': 'Mike',
   'email': 'test-Test-Test-karthik_phd_guha@ledner.net',
   'gender': 'male',
   'status': 'active'},
  {'id': 2747,
   'name': 'Mike',
   'email': 'test-june1293@kayak.com',
   'gender': 'male',
   'status': 'active'},
  {'id': 3420,
   'name': 'API Monitoring:cyc8ht',
   'email': 'apimonitoringcyc8ht@synthetic.com',
   'gender': 'male',
   'status': 'active'},
  {'id': 31,
   'name': 'Chaturaanan Devar',
   'email': 'chaturaanan_devar@hane.info',
   'gender': 'female',
   'status': 'active'},
  {'id': 32,
   'name': 'Avantika Shukla',
   'email': 'avantika_shukla@pouros.org',
   'gender': 'male',
   'status': 'active'},
  {'id': 33,
   'name': 'Gajbaahu Talwar',
   'email': 'gajbaahu_talwar@rolfson.com',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 34,
   'name': 'Bhagirathi Pilla Ret.',
   'email': 'pilla_bhagirathi_ret@schumm.info',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 35,
   'name': 'Anshula Dubashi',
   'email': 'anshula_dubashi@huels-adams.biz',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 36,
   'name': 'Gajaadhar Arora',
   'email': 'arora_gajaadhar@flatley.io',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 38,
   'name': 'Chitraksh Saini',
   'email': 'saini_chitraksh@boyer.net',
   'gender': 'male',
   'status': 'active'},
  {'id': 39,
   'name': 'Gov. Malati Guha',
   'email': 'malati_guha_gov@fisher.org',
   'gender': 'male',
   'status': 'active'},
  {'id': 40,
   'name': 'Agnimitra Bhattacharya',
   'email': 'bhattacharya_agnimitra@runolfsdottir-streich.co',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 43,
   'name': 'Aadrika Varrier',
   'email': 'aadrika_varrier@hilpert.biz',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 44,
   'name': 'Raj Rana VM',
   'email': 'rana_raj_vm@kulas.org',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 45,
   'name': 'Mandaakin Trivedi',
   'email': 'mandaakin_trivedi@stokes-bins.biz',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 46,
   'name': 'Shivakari Varma',
   'email': 'varma_shivakari@keebler.io',
   'gender': 'male',
   'status': 'active'},
  {'id': 47,
   'name': 'Amb. Menaka Joshi',
   'email': 'joshi_amb_menaka@kunde.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 48,
   'name': 'Chandani Khan',
   'email': 'chandani_khan@ritchie-morissette.biz',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 49,
   'name': 'Mangala Jha',
   'email': 'mangala_jha@leuschke-stiedemann.io',
   'gender': 'male',
   'status': 'active'}]}

In [5]:
import csv

In [6]:
status=0

In [7]:
with open ('user data.csv','w',newline='') as f:
    writer=csv.DictWriter(f,fieldnames=['id','name','email','gender','status'])
    writer.writeheader()
    for user in data['data']:
        id=user['id']
        name=user['name']
        email=user['email']
        gender=user['gender']
        if user['status']=='inactive':
            status=0
        else: status=1
        writer.writerow({'id': id,'name':name,'email':email,'gender':gender,'status':status})

In [8]:
import pandas as pd

In [9]:
data=pd.read_csv("user data.csv")

In [11]:
data.head(10)

,id,name,email,gender,status
0,3415,API Monitoring:pecykr,apimonitoringpecykr@synthetic.com,male,1
1,30,Mike,test-Test-Test-karthik_phd_guha@ledner.net,male,1
2,2747,Mike,test-june1293@kayak.com,male,1
3,3420,API Monitoring:cyc8ht,apimonitoringcyc8ht@synthetic.com,male,1
4,31,Chaturaanan Devar,chaturaanan_devar@hane.info,female,1
5,32,Avantika Shukla,avantika_shukla@pouros.org,male,1
6,33,Gajbaahu Talwar,gajbaahu_talwar@rolfson.com,male,0
7,34,Bhagirathi Pilla Ret.,pilla_bhagirathi_ret@schumm.info,male,0
8,35,Anshula Dubashi,anshula_dubashi@huels-adams.biz,female,0
9,36,Gajaadhar Arora,arora_gajaadhar@flatley.io,female,0